<mat-card>
    <mat-card-header>
      <mat-card-title>{{ color.name | uppercase }}</mat-card-title>
      <mat-card-subtitle>{{ color.year | currency }}</mat-card-subtitle>
    </mat-card-header>
    <div>
      <h2>  {{ color.color }} </h2>
    </div>
    <mat-card-content>
      <p>{{ color.pantone_value | slice:0:10 }}</p>
    </mat-card-content>
</mat-card>